<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime formControlName="fecha" presentation="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hora</ion-label>
      <ion-input formControlName="hora" type="time"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select formControlName="categoria">
        <ion-select-option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Etiquetas</ion-label>
      <ion-select formControlName="etiquetas" multiple="true">
        <ion-select-option *ngFor="let tag of etiquetas" [value]="tag">{{ tag }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input formControlName="ubicacion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>¿Es gratuito?</ion-label>
      <ion-checkbox slot="end" formControlName="gratuito"></ion-checkbox>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="form.invalid">Guardar Evento</ion-button>
  </form>
</ion-content>
